{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/user/style.css' %}">{% endblock %}

{% block title %} PROFILE EDIT {{ profile.username }} {% endblock %}

{% block body %}

    <div class="page_title"> EDIT PROFILE: {{ profile.username }} </div>

    <div class="container">
        {##todo: wycentrować za pomocą css    #}
        <div class="form">
            <form method="post" enctype='multipart/form-data'>

                {% csrf_token %}
                {{ form.media }}
                {#        {%  crispy form %}#}
                {{ form|crispy }}

                <p class="btnwrap">
                    <button type="submit" class="btn btn-outline-primary">SAVE CHANGES</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}