{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/user/style.css' %}">{% endblock %}

{% block title %} UESER: {{ profile.username }} {% endblock %}

{% block body %}
    <div class="container">
        {% if profile.photo %}


            <img class="profile_photo"
                 src="{{ profile.photo.url }}" alt="Photo"><br>

        {% else %}

            <img class="profile_photo"
                 src="{% static 'images/default_photo.png' %}" alt="Photo"><br>

        {% endif %}
        Username: {{ profile.username }} <br>

        E-mail: {{ profile.email }} <br>
        {% if profile.website_url %}
            <a class="btn btn-outline-primary btn-sm" role="button"
               href="{{ profile.website_url }}"> <i class="fas fa-house-user"></i> </a>
        {% endif %}
        {% if profile.facebook_url %}
            <a class="btn btn-outline-primary  btn-sm" role="button"
               href="{{ profile.facebook_url }}"> <i class="fab fa-facebook"></i> </a><br>
        {% endif %}

        Joined date: {{ profile.date_joined }} <br>
        Name: {{ profile.first_name }} <br>
        Last name: {{ profile.last_name }} <br>
        Last login: {{ profile.last_login }} <br>
        About: {{ profile.about | safe }} <br> <br>

        USER ADS: <br>
        {% for ad in user_ads %}
            <a href="{{ ad.get_absolute_url }}"> {{ ad.title }} </a> <br>

        {% endfor %}


    </div>
{% endblock %}