.container {
    padding: 25px;
}

.page_title {
    text-align: center;
}

div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%;
}

.btnwrap {
    text-align: center;
}