.page_title {
    text-align: center;
}

.profile_photo {
    height:150px;
    width:150px;
    margin:auto;
}

div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%;
}

.btnwrap {
    text-align: center;
}

button {
    margin: 0 auto;
    display: block;
}