.page_title {
    text-align: center;
}

.profile_photo {
    height: 150px;
    width: 150px;
    margin: auto;
}

.ad_detail_image {
    height: 250px;
    width: 250px;
    margin: auto;
}


.pagination {
    margin-top: 30px;
    margin-bottom: 30px;
}


div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%;
}

.btnwrap {
    text-align: center;
}