{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/user/style.css' %}">
{% endblock %}

{% block title %}LOGIN{% endblock %}

{% block body %}

    <div class="page_title">LOGIN</div>

    <div class="container">
        <div class="form">
            <form action="" method="post">
                {% csrf_token %}
                <label for="username_input">Username</label>
                <input type="text" name="username" id="username_input"
                       class="form-control form-control-lg pr-8 shadow p-1 mb-1 bg-white rounded">
                <label for="password_input">Password</label>
                <input type="password" name="password" id="password_input"
                       class="form-control form-control-lg pr-5 shadow p-1 mb-1 bg-white rounded"> <br>
                <p class="btnwrap">
                    <button type="submit" class="btn btn-outline-primary">LOGIN</button>
                </p>
            </form>
        </div>

    </div>
{% endblock %}