{% extends "base.html" %}
{% load hitcount_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/ads/style.css' %}">
{% endblock %}

{% block title %} DETAILS: {{ ad.title | upper }}  {% endblock %}

{% block body %}

    <div class="page_title">DETAILS OF: {{ ad.title | upper }}</div>

    <div class="container">
        {% if ad.image %}
            <img class="ad_detail_image" src="{{ ad.image.url }}" alt="Photo">
        {% else %}
            THERE IS NO IMAGE :(((
        {% endif %}
        <br>

        {{ ad.title | upper }} <br>

        {% for tag in ad.tags.all %}
            <a href="{% url 'ads:tag_ad_list' tag.slug %}"
               class="badge badge-secondary">{{ tag | lower }}</a>
        {% endfor %} <br>

        {% if user.id == ad.author.id %}
            <small>
                <a class="btn btn-outline-primary btn-sm" role="button"
                   href="{% url 'ads:edit_ad' pk=ad.pk slug=ad.slug %}"><i
                        class="far fa-edit"></i> edit</a>
                <a class="btn btn-outline-primary btn-sm" role="button"
                   href="{% url 'ads:delete_ad' pk=ad.pk slug=ad.slug %}"><i
                        class="far fa-trash-alt"></i> delete</a> <br>
            </small>
        {% endif %}

        Date: {{ ad.created_on.date }} <br>
        Time: {{ ad.created_on.time }} <br>

        Views (total): {{ hitcount.total_hits }} <br>
        Views (last 10 mins): {% get_hit_count for ad within "minutes=10" %} <br>
        {{ ad.long_description | safe }}


        <a href="{% url 'profile' ad.author %}">
            {% if ad.author.photo %}
                <img class="profile_photo"
                     src="{{ ad.author.photo.url }}" alt="Photo">
            {% else %}
                <img class="profile_photo"
                     src="{% static 'images/default_photo.png' %}" alt="Photo">
            {% endif %}
        </a>
        <br>

        Autor: <a href="{% url 'profile' ad.author %}"> {{ ad.author }} </a> <br>
        {% if ad.author.website_url %}
            <a class="btn btn-outline-primary btn-sm" role="button"
               href="{{ ad.author.website_url }}"> <i class="fas fa-house-user"></i> </a>
        {% endif %}
        {% if ad.author.facebook_url %}
            <a class="btn btn-outline-primary  btn-sm" role="button"
               href="{{ ad.author.facebook_url }}"> <i class="fab fa-facebook"></i> </a> <br>
        {% endif %}
        <br>

        SIMILAR ADS (by tags): <br>
        {% for ad in similar_ads %}
            <a href="{{ ad.get_absolute_url }}"> {{ ad.title }} </a> <br>
        {% endfor %}


    </div>
{% endblock %}