{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/ads/style.css' %}">{% endblock %}

{% block title %} ALL TAG ... ADS {% endblock %}

{% block body %}

    <div class="page_title"> ALL TAG ... ADS </div>
    <div class="container">
        {% if object_list %}
            {% for ad in object_list %}
                <h3><a href="{{ ad.get_absolute_url }}"> {{ ad.title|upper }} </a></h3>

                {% for tag in ad.tags.all %}
                    <a href="#" class="badge badge-info">{{ tag }}</a>
                {% endfor %} <br>
                {{ ad.author }} <br>
                {{ ad.created_on }} <br>
                {{ ad.short_description }} <br><br>

            {% endfor %}

        {% else %}
            Nothing to see here :(((((
        {% endif %}




        {% include 'ads/pagination_base.html' %}

    </div>
{% endblock %}
